.comments_container {
    padding: 30px;
    background-color: #ECECEC;

    .ant-card {
        margin-bottom: 20px;
    }
}

.comments_row {
    display: none;
    display: flex;
    justify-content: center;
}

.comment_card {
    width: 100%;
    margin-bottom: 40px;
}