.comments_container {
    padding: 30px;
    background-color: #ECECEC;
    margin-bottom: 20px;

    .ant-card {
        margin-bottom: 20px;
    }

    .comments_row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .anticon svg {
        display: inline-block;
        color: #e41c1c9a;

    }

    .ant-comment {
        border-bottom: 1px solid rgb(197, 193, 193);
    }

    .ant-comment-content-detail {
        display: flex;
        justify-content: space-between;
    }

    .ant-comment-content-author-name {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .author_email {
        color: #b1a2a2;
    }

}

.title {
    margin: 15px 0 12px 0;
}

.comment_card {
    width: 100%;
    margin-bottom: 40px;
}

.delete_icon {
    font-size: 2rem;
}