.layout {
  box-shadow: 0px 0px 2px 0 #888888;
}
.menu-overflow  {
  width: 700px;
  margin-right: 30px;
  justify-content: space-between;
}
.menu-overflow a {
  color: black !important; 
}
.menu-overflow > li:nth-child(5) , 
.menu-overflow > li:nth-child(6) {
  background-color: white !important;
}
.logo {
  color: #469D62;
  font-weight: bold;
}
.layout-header {
  display: flex;
  justify-content: space-between;
}
