@import '~antd/dist/antd.less';


.sign-up-container {
    display: flex;
    overflow: hidden;

    h2.ant-typography {
        font-weight: 600;
        font-size: 38px;
        line-height: 1.23;
        color: #469D62;
    }

    h3.ant-typography {
        font-weight: 400;
        font-size: 35px;
        display: flex;
        align-items: center;
        color: #fff;
    }

    .ant-anchor-link-title {
        color: #68ab7b;
        font-size: 16px;
    }

    input:-webkit-autofill {
        border: 2px solid #68ab7b;
    }

    .ant-anchor-ink::before {
        display: none;
    }
    .ant-space{
        display: flex;
        justify-content: center;
    }
}


.sign-up-btn {
    width: 100%;
}

.img-side-sign-up {
    display: flex;
    justify-content: center;
    text-align: left;
    width: 50vw;
    height: calc(100vh - 64px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/images/login-signup-background.jpg');
    background-size: cover;
    padding: 12vw 5vw;
}

.form-conatainer-signup {
    width: 50vw;
    height: calc(100vh - 64px);
}

.Form-sign-up {
    width: 30vw;
}

.space-component {
    display: flex;
    flex-direction: column;
    height: '100%';
    width: '100%';
    margin-top: 10vh;
}



@media (max-width: 567px) {

    .sign-up-btn {
        width: 100%;
    }

    .img-side-sign-up {
        display: none
    }

    .form-conatainer-signup {
        width: 100vw;
        height: 100vh;

    }

    .Form-sign-up {
        width: 60vw;
    }

    .google_btn {
        background-color: google_btn;
    }

}

@media (max-width: 768px) {
    .img-side-sgin-up {
        padding: 50vw 5vw;
    }
}

@media (max-width: 992px) {
    .img-side-sgin-up {
        padding: 30vw 5vw;
    }
}

@media (min-width: 1200px) {}

.register_option {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    margin: 10px 20px;
}

.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;

    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;

    &:hover {
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }

    &:active {
        background-color: #eeeeee;
    }

    &:focus {
        outline: none;
        box-shadow:
            0 -1px 0 rgba(0, 0, 0, .04),
            0 2px 4px rgba(0, 0, 0, .25),
            0 0 0 3px #c8dafc;
    }

    &:disabled {
        filter: grayscale(100%);
        background-color: #ebebeb;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
        cursor: not-allowed;
    }
}