@import '~antd/dist/antd.css';

.sign-up-btn {
    width: 100%;
}

.sign-up-container {
    display: flex;
}

.img-side-sgin-up {
    width: 50vw;
    height: 100vh;
    background-image: url('../assets/images/poor.png');
    image-rendering: -webkit-optimize-contrast;
    padding: 20vw 5vw;
}

.form-conatainer-signup {
    width: 50vw;
    height: 100vh;
}

.Form-sign-up {
    width: 30vw;
}

.space-component {
    display: flex;
    flex-direction: column;
    height: '100%';
    width: '100%';
    margin-top: 25vh;

}

@media (max-width: 567px) {

    .sign-up-btn {
        width: 100%;
    }

    .img-side-sgin-up {
        display: none
    }

    .form-conatainer-signup {
        width: 100vw;
        height: 100vh;

    }

    .Form-sign-up {
        width: 60vw;
    }

}

@media (max-width: 768px) {
    .img-side-sgin-up {
        padding: 50vw 5vw;
    }
}

@media (max-width: 992px) {
    .img-side-sgin-up {
        padding: 30vw 5vw;
    }
}

@media (min-width: 1200px) {}