.reports-form-container {
  display: flex;
  margin-block: 2rem;
  justify-content: center;
}
.reports-form-side-bar {
  width: 20%;
  border-radius: 5px 0 0 5px;
  background-color: #469d62;
  padding: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.reports-form {
  border-radius: 0 5px 5px 0;
  width: 60% !important;
  padding: 2rem !important;
  background-color: rgba(229, 229, 229, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.reports-form-side-bar .contact-us {
  font-size: 30px;
  color: #ffdb83;
  text-align: center;
}
.reports-form-side-bar .description {
  font-size: 18px;
  color: #fff;
}
.submit-report {
  margin-top: 15px;
  width: 50%;
  height: 50px;
}

.report-form-description {
  color: #fff !important;
  font-size: 2.4rem;
}

@media (max-width: 550px) {
  .reports-form-side-bar .contact-us {
    margin: 0;
  }
  .report-form-description {
    display: none !important;
  }
}
@media (max-width: 1200px) {
  .reports-form-container {
    flex-direction: column;
    align-items: center;
  }
  .reports-form,
  .reports-form-side-bar {
    width: 90% !important;
  }
  .reports-form {
    border-radius: 0 0 5px 5px;
  }
  .reports-form-side-bar {
    border-radius: 5px 5px 0 0;
  }
}
