.campaign-table-campaign-title {
  font-weight: 900;
  font-size: 1.6rem;
  text-transform: capitalize;
}
#campaign-table-campaign-image img{
  border-radius: 5px;
  object-fit: cover;
}
#campaign-table-campaign-image{
  height: 1pc !important;
}
.ant-table-thead > tr > th {
  font-weight: bold !important;
  font-size: 15px !important;
}