
.Header-section{
    width:98.9vw;
    display: flex;
   padding-bottom: 100px;
   flex-direction: column;
   align-items: center;
   flex-wrap: nowrap;
}
.Header-description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color:#ffff;
    text-align: center;
}
.description-Header-div{
    padding-top: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
     background-image: url('../assets/images/landingPageHeader.png');
     width: 98.9vw;
     height: 90vh;
 

}
.statistic-section{
    transform: translate(0, -50%);
    background-color: #6AAC6E;
    width: 80vw;
    height: 25vh;
}