.Header-section {
  /* width: 98.9vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
.Header-description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 4.8rem;
  color: #ffff !important;
  text-align: center;
  width: 77%;
  margin-bottom: 100px;
}
.description-Header-div {
  padding-top: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/images/header-background.jpg');
  /* width: 98.9vw; */
  height: 90vh;
}
.statistic-section {
  transform: translate(0, -50%);
  background-color: #469D62;
  width: 80vw;
  height: 40vh;
  padding: 0 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
}

.statistic-card {
  width: 23%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2px;
}
.statistic-data {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 2.5rem;
  color: #469D62 !important;
  margin-bottom: 3rem;
}
.statistic-title {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.4rem;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 5px;
  text-transform: uppercase;
}
.description-title {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 800;
}
