.dashboard-layout {
  min-height: 100vh; 
}

.dashboard {
  display: block;
}

.site-layout-background {
 height:5vh !important;
 background-color: #F0F1F3 !important;

}

.dashboard-content {
  margin: 0 16px;
  height: 95vh;
}
.dashboard-layout{
  .ant-image-img{
    margin: 20px 25px;
  }
  .admin-title{
    margin-top: 10px !important;
    margin: 5px;
    }
}


