.dashboard-layout {
  min-height: 100vh; 
}

.dashboard {
  display: block;
}

.site-layout-background {
  display: flex;
  padding: 0;
  margin-bottom: 3px;
  align-items: center;
  justify-content: flex-end;
}

.dashboard-content {
  margin: 0 16px;
}
.dashboard-layout{
  .ant-image-img{
    margin: 20px 25px;
  }
  .admin-title{
    margin-top: 10px !important;
    margin: 5px;
    }
}


