.card-content {
  display: flex;
  width: 35%;
  flex-wrap: wrap;
}

.card-content .card {
  display: flex;
  background: white;
  margin: 0 1% 1% 0;
  height: 46%;
  width: calc((100% / 3) - 1%);
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.1s ease-in-out;
}
.card-content .card:hover {
  transform: scale(1.04);
}
.top-donors-container {
  margin-bottom: -5px;
  width: 35%;
}
.top-donors-container
  .ant-table-wrapper
  .ant-spin-nested-loading
  .ant-spin-container
  .ant-table {
  margin: 0 !important;
}
