.container1-overview {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}
.container2-overview {
  display: flex;
  justify-content: space-between;
}

.container2-overview .bar-chart-container{
  width: 70%;
  border-radius: 5px;
  margin: 0 1% 1% 0;
}