.overview-container {
  display: flex;
  margin-top: 1%;
  max-width: 50vw;
}
.card-content {
  display: flex;
  flex-direction: row;
  max-width: 50vw;
}

.card {
  background: white;
  margin-right:2%;
  margin-bottom: 1%;
  width: 10vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-transform: uppercase;
}