
.ant-table-thead > tr > th {
    font-weight: bold !important;
    font-size: 15px !important;
}
.nested-table{
    width: 80vw;
    margin-top: 5vh;
}
.nested-table-section{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: #F0F1F3;
    width: 100vw;
    height:90vh;
}
.whatAppIcon{
    font-size: 16px !important;
    color:'#469D62'!important
}
