
.nested-table{
    width: 80vw;
    margin-block: 1vh;
}

.whatsapp_icon{
  font-size: 16px !important;
  color: #469d62 !important; ;
}
.nested-table-section{
  width: 100%;
  display: flex;
  justify-content: center;
.ant-table-thead > tr > th {
        font-weight: bold !important;
        font-size: 15px !important;
    }
}

