
.Header-Image{
    background-image: url('../../../assets/images/comments-background.jpg');
    width: 100vw;
    background-repeat: no-repeat;
    height: 60vh;
    display: flex;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color:#fff;
}
.text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff !important;

}
.Donation-title{
    color: #D68609;
    
}