@import '~antd/dist/antd.less';
.fliter-section .ant-radio-button-wrapper{
    margin-right: 20px !important;
    
}
.search-section{
    display: flex;
    justify-content: center;
    margin: 40px;

}
.fliter-section{
    display: flex;
    justify-content: space-between;
   
}
.searchInput{
    width:550px !important;
}
.categories{
    .ant-radio-group{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    } 
    .ant-skeleton{
        width: 70px;
        height: 15px;
    }
}