.footer_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
    background-color: #469D62;
}

.hr_lines {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.line {
    border-top: 1px solid white;
    width: 500px;
    flex-wrap: wrap;
    gap: 20px;
}


.anticon svg {
    display: inline-block;
    height: 30px;
    width: 30px;
    color: white;
}

.info_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 12px;
}

.logo {
    width: 155px;
    margin-bottom: 10px;
}