* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    width: 100%;
    height: 64px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #469D62;
}

.logo {
    margin-left: 40px;
}

.register_button {
    align-self: center;
    margin-right: 40px;
    color: white;
    background-color: #469D62;
}

.register_button:hover {
    color: #fff;
    background-color: #469D62;
}

ul {
    display: flex;
    justify-content: end;
    list-style-type: none;
    overflow: hidden;
}

li {
    display: flex;
}


li a {
    display: block;
    text-align: center;
    margin: 14px 20px;
    color: black;
    text-decoration: none;
}

li a:hover {
    color: #469D62;
}

.active {
    color: #469D62;
}

.login_text {
    font-size: 36px;
    color: #469d62;
}

.login_header {
    height: 426.66px;
    width: 543px;
    background-color: aquamarine;
}

.login_button {
    font-size: 20px;
    height: 41.47px;
    width: 100%;
    color: white;
    background-color: #469D62;
    border-color: #469D62;
}

.login_button:hover {
    height: 41.47px;
    width: 100%;
    color: white;
    background-color: #469D62;
    border-color: #469D62;
}

.login_button:active {
    height: 41.47px;
    width: 100%;
    color: white;
    background-color: #469D62;
    border-color: #469D62;
}

.signup_link {
    display: flex;
    justify-content: space-around;
}


/* *************** */
.google-btn {
    width: 180px;
    height: 42px;
    border: 1px rgb(196, 193, 193) solid;
    border-radius: 20px;
    box-shadow: 0.1px .5px #888888;
    background-color: #fff;
}

.google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}

.btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #787c86;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}

.google-btn:hover {
    box-shadow: 0 0 3px #4285f4;
}

.google-btn:active {
    background: #d3d5da;
}

.site-layout-background {
    background-color: #4285f4;
}

.ant-menu>.ant-menu-submenu-selected {
    color: red;
    border-bottom: 2px solid red;
}

.text_image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.form_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.login_image {
    background-color: #fff;
}

.login_text {
    display: flex;
    align-self: start;
    margin-bottom: 60px;
    width: 187.66px;
    height: 48.67;
    color: #469D62;
}

.login_form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 543.6px;
    height: 426.66px;
}


.register_option {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.register_text {
    color: #469D62;
}

.register_text:hover {
    cursor: pointer;
    color: #469D62;

}
