.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_title {
    display: flex;
    justify-content: center;
    gap: 10px;

}

h1.ant-typography {
    color: #469D62;

}

.cards {
    display: flex;
    gap: 10%;
    padding: 20px;
    justify-content: center;
}

.more_btn {
    display: flex;
    align-self: center;
    margin-top: 2%;
}