.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.custom_header_title {
    display: flex;
    justify-content: center;
    gap: 8px;
}

h1.ant-typography {
    margin: 50px 0px 30px 0px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
    padding: 20px;
}

.anchor {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.more_btn {
    display: flex;
    align-self: center;
    margin-top: 2%;
    width: 170px;
}

.ant-anchor-ink {
    display: none;
}

@media (max-width: 768px) {
    .ant-card {
        margin-bottom: 8%;
    }
}

@media (max-width: 992px) {
    .ant-card {
        margin-bottom: 8%;
    }
}