.select {
  width: 120px !important;
}
.edit {
  color: blue !important;
  cursor: pointer;
}
.whatsApp {
  color: green;
}
.table-container {
  display: flex; 
  justify-content: space-between; 
  margin-top: 12px; 
  margin-right: 15px;
}
.title {
  color: #469D62 !important;
}
.table {
  margin-top: 20px;
}