.all-campaines-container {
    display: flex;
    flex-direction: column;
    padding: 0 180px;

}

.pagination {
    align-self: center;
    margin-bottom: 100px;
}

.loading {
    font-size: 80px;
    margin: 30px 0;
}